/* global */
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

#start,
#skills,
#presentation {
    display: flex;
    align-items: center;
    background-image: url(../img/bg1.png);
    width: 100%;
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1E1E1E;
    overflow: hidden;
}

/* first part */
#start .hand {
    z-index: 1;
    height: 95vh;
}

#start .txtFirstPg .title {
    margin-left: 30px;
}

#start .txtFirstPg h1 {
    font-size: 11rem;
    color: #006258;
    margin-bottom: -30px;

}

#start .txtFirstPg h2 {
    font-size: 7rem;
    color: white;
}

#start .signature {
    margin-left: 60px;
}

/* presentation */
#presentation {
    position: relative;
    background-image: url(../img/bg2.jpg);
}

#presentation .photo {
    position: absolute;
    height: 95vh;
    right: 0;
    bottom: 0;
}

#presentation .txtSecondPg {
    width: 60vw;
    margin-left: 90px;
}

#presentation .txtSecondPg .quotes {
    opacity: 40%;
    filter: drop-shadow(0px 1000px 0 #006258);
    transform: translateY(-1000px);
    height: 150px;
}

#presentation .txtSecondPg .hello {
    margin-top: -80px;
    font-size: 6rem;
    font-weight: 800;
    margin-left: 40px;
}

#presentation .txtSecondPg .secondLine {
    display: flex;
    gap: 5px;
    margin-left: 40px;

}

#presentation .txtSecondPg .secondLine h2 {
    font-size: 4rem;
}

#presentation .txtSecondPg .secondLine h2:last-child {
    color: #006258;
    font-weight: 600;
    margin-left: 15px;
}

#presentation .txtSecondPg p {
    margin-top: 80px;
    margin: 80px 20px 0 40px;
    font-size: 1.3rem;
}

/* skills part */
#skills {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    color: white;
}

/* background doodles */
#skills .baloon {
    position: absolute;
    left: 0;
}

#skills .arrow {
    position: absolute;
    bottom: -50px;
    right: 200px;
}

/* text area */
#skills .txtSkills {
    width: calc(100% - 600px);
    z-index: 1;

}

#skills .txtSkills .title {
    text-align: center;
    font-size: 6rem;
    margin-bottom: 60px;
}

#skills .txtSkills .skills-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#skills .txtSkills .skills-list div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#skills .txtSkills .skills-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 1.3rem;
}

#skills .txtSkills .subtitle {
    font-family: "Great Vibes", cursive;
    color: #006258;
    font-size: 3rem;
}

#call-portfolio {
    background-color: white;
}

/* portfolio part */
#call-portfolio .title {
    font-size: 6rem;
    margin: 30px 30px 0 30px;
    color: #9FBAB7;
    font-family: "Lilita One", sans-serif;
}

#call-portfolio .subtitle {
    font-size: 4rem;
    font-family: "Waterfall", cursive;
    color: #006258;
    text-align: end;
    margin: 0 30px -10px 0;
}

#call-portfolio table {
    width: 100%;
    color: white;
    font: bold 2rem sans-serif;
    border-collapse: collapse;

}

#call-portfolio table tr {
    height: 100px;
}

#call-portfolio table tr td {
    width: 50%;
    text-align: start;
    padding-left: 30px;
}

/* .first-tr .first,
.fourth-tr .second {
    background-color: #00F5DE;
}

.first-tr .second,
.fourth-tr .first {
    background-color: #4ADBD6;
}

.second-tr .first,
.third-tr .second {
    background-color: #A3FDC8;
}

.second-tr .second,
.third-tr .first {
    background-color: #00EB7A;
} */
.first-tr .first,
.second-tr .second,
.third-tr .first,
.fourth-tr .second {
    background-color: #006258;
}

.first-tr .second,
.second-tr .first,
.third-tr .second,
.fourth-tr .first {
    background-color: #1E1E1E;
}

/* Logo Folio */
#logofolio .title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
}

#logofolio .title .title1 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: black;
}

#logofolio .title .title2 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: #79604C;
}

#logofolio img {
    width: 100%;
}

/* logos */
#logos {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 200px);
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0;
}

#logos .img {
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px gray;
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* social call */
#socialCall .title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
}

#socialCall .title .title1 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: black;
}

#socialCall .title .title2 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: #00C199;
}

#firstSocial {
    background: linear-gradient(180deg, rgb(0, 193, 153) 0%, rgb(213, 107, 196) 100%);
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#firstSocial img {
    width: 350px;
    height: 350px;
}

/* phones */

#phones {
    position: relative;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#phones img {
    position: absolute;
    transform: scale(0.7);
}

#phones .phone2 {
    z-index: -1;
}

/* media2 */

#media2 {
    width: 100%;
    height: 850px;
    background-color: #00B5B1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

#media2 div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#media2 .media {
    box-shadow: 0px 0px 10px 0px gray;

}

/* cells */

#cells {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* media 3 */

#media3 {
    background-color: #03C098;
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#media3 .img1,
#media3 .img2 {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

#media3 .img1 {
    justify-content: flex-end;

}

#media3 .img1 img {
    width: 700px;
}

#media3 .img2 {
    flex: 1;
    position: relative;
    height: 700px;
    width: 700px;
    justify-content: flex-start;
}

#media3 .img2 .first {
    width: 400px;
    position: absolute;
    top: 0;
    left: 40px;
}

#media3 .img2 .second {
    width: 400px;
    position: absolute;
    bottom: 0;
    left: 200px;
}

/* menus */
#restaurant .title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
}

#restaurant .title .title1 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: black;
}

#restaurant .title .title2 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: #FF6F43;
}

#menu {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu img {
    width: 100%;
    z-index: 1;
}

.menuwpp {
    width: 100%;
}

/* Youtube */
#youtube .title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
}

#youtube .title .title1 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: black;
}

#youtube .title .title2 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: #A90505;
}

.youtubeWpp {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.youtubeWpp .phoneLogo {
    margin-top: 40px;
}

.youtubeWpp .phoneYoutube {
    position: relative;
    z-index: 1;
    margin-right: -45px;
}

.youtubeWpp .logoYoutube {
    transform: rotate(15deg);
    margin-left: -45px;
}

#youtubeExamples {
    width: 100%;
    height: 100vh;
    background-color: #C60000;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* gap: 50px; */
}

#youtubeExamples img {
    width: 550px;
    margin: 20px;
    box-shadow: 0px 0px 20px 10px #980001;
}

/* business card */
#business .title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
}

#business .title .title1 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: black;
}

#business .title .title2 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: #5DD961;
}

/* plant */
.plant {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.plant .plantImg {
    width: 80%;
}

/* first cards */
#card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: #066500;
}

#card1 img {
    border-radius: 40px;
    box-shadow: 10px 10px 20px 0px #024E00;
}

#card1 .img2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* second cards */
#card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: #0D3D00;

}

#card2 img {
    box-shadow: 10px 10px 20px 0px #082D00;
    border-radius: 40px;
}

#card2 .img1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* stationary title */
#stationary .title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
}

#stationary .title .title1 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: black;
}

#stationary .title .title2 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: #F0D24B;
}

/* book */
.book {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    position: relative;
}

.book .bookImg {
    height: 90%;
    z-index: 1;
}

.book .circle {
    width: 1200px;
    height: 1200px;
    background-color: #FFB500;
    position: absolute;
    border-radius: 100%;
    top: 100px;
}

/* stationary */
#stationaryExample {
    width: 100%;
    max-height: auto;
    overflow: hidden;
}

#stationaryExample img {
    width: 100%;
}

/* stationary examples */
#StationaryCards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: #FFB500;
}

#StationaryCards img {
    box-shadow: 10px 10px 20px 0px #DA8D00;
    border-radius: 40px;
}

#StationaryCards .img2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* stationary examples 2 */
#StationaryCards2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: #FF7600;

}

#StationaryCards2 img {
    box-shadow: 10px 10px 20px 0px #CC5B00;
    border-radius: 40px;
}

#StationaryCards2 .img1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* flyers title */
#flyers .title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
}

#flyers .title .title1 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: black;
}

#flyers .title .title2 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: #5DD961;
}

/* flag mockup */

#flagMockup {
    width: 100%;
    max-height: auto;
    overflow: hidden;
}
#flagMockup img {
    width: 100%;
}

/* examples */
#flagExamples, #vertz, #thin {
    width: 100%;
    max-height: auto;
    overflow: hidden;
}
#flagExamples img, #vertz img {
    width: 100%;
}
#thin {
    display: flex;
    justify-content: center;
    
}
#thin img {
    width: 60%;
    height: 100%;
    margin-bottom: 50px;
}

/* web design title */
#flyers .title {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 30px 30px 30px;
}

#flyers .title .title1 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: black;
}

#flyers .title .title2 {
    font-size: 6rem;
    font-family: "Lilita One", sans-serif;
    color: #fe9a0b;
}

/* web design */
#webdesign {
    width: 100%;
    height: auto;
}
#webdesign img {
    height: 100%;
}

/* web tablet */
#tablet {
    height: 100%;
}
#tablet img {
    height: 100%;
}

/* web phoe */
#phone {
    height: 100%;
}
#phone img {
    width: 100%;
}

/* contact */
#contact {
    width: 100%;
    height: 100vh;
    background-image: url("../img/background\ contact.jpg");
    background-position: end;
    background-size: cover;
}

/* responsive */
/* start */
@media (max-width: 1340px) {
    #start {
        height: 730px;
    }

    #start .hand {
        height: 660px;
    }

    #start .txtFirstPg h1 {
        font-size: 9rem;
    }

    #start .txtFirstPg h2 {
        font-size: 5rem;
    }

    #start .signature {
        width: 265px;
    }
}

@media (max-width: 1130px) {
    #start {
        height: 500px;
    }

    #start .hand {
        height: 450px;
    }

    #start .txtFirstPg h1 {
        font-size: 9rem;
        margin-bottom: -20px;
    }

    #start .txtFirstPg h2 {
        font-size: 4.2rem;
    }

    #start .signature {
        margin-left: 30px;
        width: 215px;
    }
}

@media (max-width: 960px) {
    #start {
        height: 430px;
    }

    #start .hand {
        height: 370px;
    }

    #start .txtFirstPg h1 {
        font-size: 7rem;
    }

    #start .txtFirstPg h2 {
        font-size: 4rem;
    }

    #start .signature {
        width: 200px;
    }
}

@media (max-width: 780px) {
    #start {
        height: 330px;
    }

    #start .hand {
        height: 270px;
    }

    #start .txtFirstPg h1 {
        font-size: 6rem;
        margin-bottom: -10px;
    }

    #start .txtFirstPg h2 {
        font-size: 3.5rem;
    }

    #start .signature {
        width: 190px;
    }
}

@media (max-width: 660px) {
    #start .txtFirstPg h1 {
        font-size: 4rem;
    }

    #start .txtFirstPg h2 {
        font-size: 2.5rem;
    }

    #start .signature {
        width: 150px;
    }
}

@media (max-width: 500px) {
    #start {
        height: 230px;
    }

    #start .hand {
        height: 200px;
    }

    #start .txtFirstPg h1 {
        font-size: 3rem;
    }

    #start .txtFirstPg h2 {
        font-size: 2rem;
    }

    #start .signature {
        width: 150px;
    }
}

@media (max-width: 390px) {
    #start {
        flex-direction: column;
        align-items: start;
        height: auto;
    }

    #start .hand {
        height: auto;
        width: 80%;
        margin-top: 20px;
    }

    #start .txtFirstPg {
        margin: 20px 0;
    }

    #start .txtFirstPg .title {
        margin-left: 20px;
    }

    #start .txtFirstPg h1 {
        font-size: 4rem;
    }

    #start .txtFirstPg h2 {
        font-size: 2.5rem;
    }

    #start .signature {
        width: 150px;
    }
}

@media (max-width: 290px) {
    #start .txtFirstPg h1 {
        font-size: 3rem;
    }

    #start .txtFirstPg h2 {
        font-size: 2rem;
    }

    #start .signature {
        width: 200px;
    }
}

/* presentation */
@media (max-width: 1545px) {
    #presentation .txtSecondPg {
        width: 50%;
    }

    #presentation .txtSecondPg .hello {
        font-size: 5rem;

    }

    #presentation .txtSecondPg .secondLine h2 {
        font-size: 3rem;
    }
}

@media (max-width: 1325px) {
    #presentation .txtSecondPg .secondLine h2 {
        font-size: 2.5rem;
    }

    #presentation .photo {
        height: 700px;
    }
}

@media (max-width: 1125px) {
    #presentation {
        height: auto;
    }

    #presentation .txtSecondPg {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    #presentation .txtSecondPg .secondLine h2 {
        font-size: 2rem;
    }

    #presentation .txtSecondPg .secondLine h2:last-child {
        margin-left: 5px;
    }

    #presentation .txtSecondPg p {
        margin-top: 80px;
        margin: 40px 20px 0 40px;
    }

    #presentation .photo {
        height: 600px;
    }
}

@media (max-width: 990px) {
    #presentation .photo {
        height: 500px;
    }
}

@media (max-width: 930px) {
    #presentation .txtSecondPg .quotes {
        height: 110px;
    }

    #presentation .txtSecondPg .hello {
        font-size: 4rem;
    }

    #presentation .txtSecondPg .secondLine h2 {
        font-size: 1.5rem;
    }

}

@media (max-width: 870px) {
    #presentation .txtSecondPg {
        margin-left: 40px;
    }
}

@media (max-width: 760px) {

    #presentation {
        flex-direction: column-reverse;
        overflow: hidden;
    }

    #presentation .txtSecondPg {
        width: calc(100% - 80px);
        margin: 40px 40px 40px 40px;
    }

    #presentation .photo {
        position: relative;
    }
}

@media (max-width: 450px) {
    #presentation .txtSecondPg .quotes {
        height: 80px;
    }

    #presentation .txtSecondPg .hello {
        font-size: 3rem;
        margin-top: -50px;
    }

    #presentation .txtSecondPg .secondLine {
        flex-direction: column;
    }

    #presentation .txtSecondPg .secondLine h2:last-child {
        margin-left: 0;
    }

    #presentation .photo {
        height: auto;
        width: 90%;
    }

    #presentation .txtSecondPg p {
        font-size: 1rem;
        margin: 20px 20px 0 20px;
    }
}

@media (max-width: 360px) {
    #presentation .txtSecondPg {
        margin: 40px 0;
        width: 100%;
    }
}

/* skills */

@media (max-width: 1470px) {
    #skills .txtSkills .title {
        font-size: 5rem;
    }

    #skills .baloon {
        width: 600px;
        left: -80px;
    }

    #skills .arrow {
        width: 400px;
    }

    #skills .txtSkills {
        width: calc(100% - 520px);
    }
}

@media (max-width: 1175px) {
    #skills {
        height: 740px;
    }

    #skills .txtSkills .title {
        font-size: 4rem;
    }

    #skills .baloon {
        width: 460px;
        left: -100px;
    }

    #skills .arrow {
        width: 300px;
    }

    #skills .txtSkills {
        width: calc(100% - 360px);
    }
}

@media (max-width: 1000px) {
    #skills {
        height: 650px;
    }

    #skills .txtSkills .title {
        font-size: 4rem;
    }

    #skills .baloon {
        width: 400px;
        left: -100px;
    }

    #skills .arrow {
        width: 300px;
    }

    #skills .txtSkills {
        width: calc(100% - 300px);
    }

    #skills .txtSkills .subtitle {
        font-size: 2.5rem;
    }

    #skills .txtSkills .skills-list ul {
        font-size: 1.2rem;
        gap: 20px;
    }
}

@media (max-width: 815px) {
    #skills {
        height: 550px;
    }

    #skills .txtSkills {
        width: calc(100% - 250px);
    }

    #skills .txtSkills .title {
        font-size: 3rem;
    }

    #skills .txtSkills .subtitle {
        font-size: 2rem;
    }

    #skills .txtSkills .skills-list ul {
        font-size: 1rem;
    }

    #skills .baloon {
        width: 350px;
    }

    #skills .arrow {
        width: 200px;
        right: 100px;
        bottom: -30px;
    }
}

@media (max-width: 680px) {
    #skills {
        height: 470px;
    }

    #skills .txtSkills {
        width: calc(100% - 200px);
    }

    #skills .baloon {
        width: 300px;
    }
}

@media (max-width: 600px) {
    #skills .txtSkills {
        width: 100%;
    }

    #skills .baloon {
        opacity: 0.2;
    }

    #skills .arrow {
        width: 150px;
        right: 50px;
    }
}

@media (max-width: 420px) {
    #skills {
        height: auto;
    }

    #skills .txtSkills .title {
        margin-top: 40px;
        font-size: 2.5rem;
    }

    #skills .txtSkills .skills-list {
        flex-direction: column;
        gap: 60px;
    }

    #skills .baloon {
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    #skills .arrow {
        left: 50%;
        transform: translateX(-50%);
    }

    #skills .txtSkills .skills-list div:last-child {
        margin-bottom: 40px;
    }

    #skills .txtSkills .subtitle {
        font-size: 3rem;
    }

    #skills .txtSkills .skills-list ul {
        font-size: 1.3rem;
    }
}

@media (max-width: 350px) {

    #skills .txtSkills .title,
    #skills .txtSkills .subtitle {
        font-size: 2rem;
    }

    #skills .txtSkills .skills-list ul {
        font-size: 1rem;
    }
}

@media (max-width: 250px) {

    #skills .txtSkills .title,
    #skills .txtSkills .subtitle {
        font-size: 1.8rem;
    }
}

/* call portfolio */

@media (max-width: 730px) {
    #call-portfolio .title {
        font-size: 4rem;
    }

    #call-portfolio table {
        font-size: 1.4rem;
    }

    #call-portfolio table tr {
        height: 70px;
    }
}

@media (max-width: 520px) {
    #call-portfolio .title {
        font-size: 3rem;
    }

    #call-portfolio .subtitle {
        font-size: 2.5rem;
    }

    #call-portfolio table {
        font-size: 1rem;
    }
}

@media (max-width: 425px) {
    #call-portfolio table {
        font-size: 0.8rem;
    }

    #call-portfolio table tr {
        height: 60px;
    }
}

@media (max-width: 360px) {
    #call-portfolio .title {
        font-size: 2.5rem;
    }

    #call-portfolio .subtitle {
        font-size: 2rem;
    }

    #call-portfolio table tr td {
        padding-left: 10px;
    }
}

@media (max-width: 300px) {
    #call-portfolio .title {
        margin: 10px 10px 0 10px;
        font-size: 2rem;
    }

    #call-portfolio table {
        font-size: 0.8rem;
    }
}

/* logo folio */
@media (max-width: 950px) {

    #logofolio .title .title1,
    #logofolio .title .title2 {
        font-size: 4rem;
    }
}

@media (max-width: 520px) {

    #logofolio .title .title1,
    #logofolio .title .title2 {
        font-size: 3rem;
    }
}

@media (max-width: 360px) {
    #logofolio .title {
        gap: 10px;
    }

    #logofolio .title .title1,
    #logofolio .title .title2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 300px) {
    #logofolio .title {
        gap: 5px;
    }

    #logofolio .title .title1,
    #logofolio .title .title2 {
        font-size: 2rem;
    }
}

/* logos */
@media (max-width: 1320px) {
    #logos {
        grid-template-columns: repeat(5, 150px);
    }

    #logos .img {
        width: 150px;
        height: 150px;
    }

    #logos .img img {
        width: 152px;
        height: 152px;
    }
}

@media (max-width: 1040px) {
    #logos {
        grid-template-columns: repeat(5, 120px);
    }

    #logos .img {
        width: 120px;
        height: 120px;
    }

    #logos .img img {
        width: 122px;
        height: 122px;
    }
}

@media (max-width: 890px) {
    #logos {
        grid-template-columns: repeat(5, 100px);
        gap: 30px;
    }

    #logos .img {
        width: 100px;
        height: 100px;
    }

    #logos .img img {
        width: 102px;
        height: 102px;
    }
}

@media (max-width: 680px) {
    #logos {
        grid-template-columns: repeat(5, 90px);
    }

    #logos .img {
        width: 90px;
        height: 90px;
    }

    #logos .img img {
        width: 92px;
        height: 92px;
    }
}

@media (max-width: 600px) {
    #logos {
        grid-template-columns: repeat(2, 200px);
    }

    #logos .img {
        width: 200px;
        height: 200px;
    }

    #logos .img img {
        width: 202px;
        height: 202px;
    }
}

@media (max-width: 495px) {
    #logos {
        grid-template-columns: repeat(2, 150px);
    }

    #logos .img {
        width: 150px;
        height: 150px;
    }

    #logos .img img {
        width: 152px;
        height: 152px;
    }
}

@media (max-width: 385px) {
    #logos {
        grid-template-columns: repeat(2, 120px);
    }

    #logos .img {
        width: 120px;
        height: 120px;
    }

    #logos .img img {
        width: 122px;
        height: 122px;
    }
}

@media (max-width: 385px) {
    #logos {
        grid-template-columns: repeat(2, 100px);
    }

    #logos .img {
        width: 100px;
        height: 100px;
    }

    #logos .img img {
        width: 102px;
        height: 102px;
    }
}

@media (max-width: 250px) {
    #logos {
        grid-template-columns: repeat(2, 90px);
        gap: 15px;
    }

    #logos .img {
        width: 90px;
        height: 90px;
    }

    #logos .img img {
        width: 92px;
        height: 92px;
    }
}

/* Social call */
@media (max-width: 950px) {

    #socialCall .title .title1,
    #socialCall .title .title2 {
        font-size: 4rem;
    }
}

@media (max-width: 590px) {

    #socialCall .title .title1,
    #socialCall .title .title2 {
        font-size: 3rem;
    }
}

@media (max-width: 490px) {
    #socialCall .title {
        gap: 10px;
    }

    #socialCall .title .title1,
    #socialCall .title .title2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 390px) {
    #socialCall .title {
        gap: 5px;
    }

    #socialCall .title .title1,
    #socialCall .title .title2 {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    #socialCall .title {
        gap: 5px;
    }

    #socialCall .title .title1,
    #socialCall .title .title2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 252px) {
    #socialCall .title {
        gap: 5px;
    }

    #socialCall .title .title1,
    #socialCall .title .title2 {
        font-size: 1.25rem;
    }
}

/* first social */

@media (max-width: 1610px) {
    #firstSocial {
        height: 700px;
    }

    #firstSocial img {
        width: 320px;
        height: 320px;
    }
}

@media (max-width: 1500px) {
    #firstSocial {
        height: 650px;
    }

    #firstSocial img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1430px) {
    #firstSocial {
        height: 550px;
    }

    #firstSocial img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1230px) {
    #firstSocial {
        height: 500px;
    }

    #firstSocial img {
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 1110px) {
    #firstSocial {
        height: 450px;
    }

    #firstSocial img {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 1020px) {
    #firstSocial {
        height: 520px;
        flex-wrap: wrap;
        align-content: center;
    }

    #firstSocial img {
        width: 180px;
        height: 180px;
        margin: 0 10px;
    }
}

@media (max-width: 530px) {
    #firstSocial img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 430px) {
    #firstSocial {
        height: 320px;
        gap: 20px;
    }

    #firstSocial img {
        width: 120px;
        height: 120px;
        margin: 0 5px;
    }
}

@media (max-width: 290px) {
    #firstSocial {
        height: 300px;
    }

    #firstSocial img {
        width: 100px;
        height: 100px;
        margin: 0 5px;
    }
}

/* phones */
@media (max-width: 1510px) {
    #phones img {
        transform: scale(0.6);
    }
}

@media (max-width: 1270px) {
    #phones {
        height: 680px;
    }

    #phones img {
        transform: scale(0.5);
    }
}

@media (max-width: 1090px) {
    #phones {
        height: 550px;

    }

    #phones img {
        transform: scale(0.4);
    }
}

@media (max-width: 890px) {
    #phones {
        height: 410px;
    }

    #phones img {
        transform: scale(0.3);
    }
}

@media (max-width: 630px) {
    #phones {
        height: 330px;
    }

    #phones img {
        transform: scale(0.25);
    }
}

@media (max-width: 530px) {
    #phones {
        height: 250px;
    }

    #phones img {
        transform: scale(0.2);
    }
}

@media (max-width: 420px) {
    #phones {
        height: 200px;
    }

    #phones img {
        transform: scale(0.15);
    }
}

@media (max-width: 320px) {
    #phones {
        height: 165px;
    }

    #phones img {
        transform: scale(0.12);
    }
}

@media (max-width: 250px) {
    #phones {
        height: 140px;
    }

    #phones img {
        transform: scale(0.1);
    }
}

/* media 2 */
@media (max-width: 1300px) {
    #media2 {
        height: 695px;
    }

    #media2 .mediag {
        height: 450px;
    }

    #media2 .mediap {
        height: 230px;
    }
}

@media (max-width: 1080px) {
    #media2 {
        height: 570px;
    }

    #media2 .mediag {
        height: 400px;
    }

    #media2 .mediap {
        height: 200px;
    }
}

@media (max-width: 960px) {
    #media2 {
        height: 510px;
        gap: 20px;
    }

    #media2 div {
        gap: 20px;
    }

    #media2 .mediag {
        height: 350px;
    }

    #media2 .mediap {
        height: 180px;
    }
}

@media (max-width: 850px) {
    #media2 {
        height: 510px;
    }

    #media2 .mediag {
        height: 300px;
    }

    #media2 .mediap {
        height: 150px;
    }
}

@media (max-width: 730px) {
    #media2 {
        height: 400px;
    }

    #media2 .mediag {
        height: 250px;
    }

    #media2 .mediap {
        height: 130px;
    }
}

@media (max-width: 620px) {
    #media2 {
        height: 320px;
    }

    #media2 .mediag {
        height: 200px;
    }

    #media2 .mediap {
        height: 100px;
    }
}

@media (max-width: 500px) {
    #media2 {
        height: 260px;
        gap: 10px;
    }

    #media2 div {
        gap: 10px;
    }

    #media2 .mediag {
        height: 150px;
    }

    #media2 .mediap {
        height: 80px;
    }
}

@media (max-width: 380px) {
    #media2 {
        flex-direction: column;
    }

    #media2 div {
        flex-direction: row;

    }

    #media2 .mediag {
        height: 150px;
    }

    #media2 .mediap {
        height: 80px;
    }
}

/* cells */

@media (max-width:1570px) {
    #cells {
        height: 640px;
    }
}

@media (max-width:1275px) {
    #cells {
        height: 530px;
    }
}

@media (max-width:1060px) {
    #cells {
        height: 440px;
    }
}

@media (max-width: 880px) {
    #cells {
        height: 345px;
    }
}

@media (max-width: 700px) {
    #cells {
        height: 255px;
    }
}

@media (max-width: 490px) {
    #cells {
        height: 200px;
    }
}

@media (max-width: 390px) {
    #cells {
        height: 150px;
    }
}

@media (max-width: 290px) {
    #cells {
        height: 130px;
    }
}

@media (max-width: 240px) {
    #cells {
        height: 110px;
    }
}

/* media 3 */
@media (max-width: 1570px) {
    #media3 .img1 img {
        width: 650px;
    }

    #media3 .img2 {
        height: 650px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        width: 380px;
    }
}

@media (max-width: 1375px) {
    #media3 .img1 img {
        width: 600px;
    }

    #media3 .img2 {
        height: 600px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        width: 340px;
    }
}

@media (max-width: 1230px) {
    #media3 .img1 img {
        width: 550px;
    }

    #media3 .img2 {
        height: 550px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        width: 300px;
    }
}

@media (max-width: 1160px) {
    #media3 {
        height: 680px;
    }

    #media3 .img1 img {
        width: 500px;
    }

    #media3 .img2 {
        height: 500px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        width: 280px;
    }
}

@media (max-width: 1050px) {
    #media3 {
        height: 610px;
    }

    #media3 .img1 img {
        width: 450px;
    }

    #media3 .img2 {
        height: 450px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        width: 260px;
    }
}

@media (max-width: 955px) {
    #media3 {
        height: 510px;
    }

    #media3 .img1 img {
        width: 400px;
    }

    #media3 .img2 {
        height: 400px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        width: 230px;
    }

    #media3 .img2 .second {
        left: 160px;
    }
}

@media (max-width: 835px) {
    #media3 {
        height: 470px;
    }

    #media3 .img1 img {
        width: 350px;
    }

    #media3 .img2 {
        height: 350px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        width: 200px;
    }

    #media3 .img2 .second {
        left: 130px;
    }
}

@media (max-width: 720px) {
    #media3 {
        height: 380px;
    }

    #media3 .img1 img {
        width: 300px;
    }

    #media3 .img2 {
        height: 300px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        width: 170px;
    }

    #media3 .img2 .first {
        left: 25px;
    }

    #media3 .img2 .second {
        left: 100px;
    }
}

@media (max-width: 630px) {
    #media3 {
        height: 350px;
    }

    #media3 .img1 img {
        width: 250px;
    }

    #media3 .img2 {
        height: 250px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        width: 140px;
    }
}

@media (max-width: 515px) {
    #media3 {
        flex-direction: column;
        height: auto;
    }

    #media3 .img1 {
        margin: 40px 0;
        justify-content: center;
    }

    #media3 .img1 img {
        width: 80%;
    }

    #media3 .img2 {
        width: 80%;
        height: auto;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    #media3 .img2 .first,
    #media3 .img2 .second {
        position: relative;
        left: auto;
        width: 45%;
    }
}

/* restaurant */
@media (max-width: 950px) {

    #restaurant .title .title1,
    #restaurant .title .title2 {
        font-size: 4rem;
    }
}

@media (max-width: 590px) {

    #restaurant .title .title1,
    #restaurant .title .title2 {
        font-size: 3rem;
    }
}

@media (max-width: 490px) {
    #restaurant .title {
        gap: 10px;
    }

    #restaurant .title .title1,
    #restaurant .title .title2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 390px) {
    #restaurant .title {
        gap: 5px;
    }

    #restaurant .title .title1,
    #restaurant .title .title2 {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    #restaurant .title {
        gap: 5px;
    }

    #restaurant .title .title1,
    #restaurant .title .title2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 252px) {
    #restaurant .title {
        gap: 5px;
    }

    #restaurant .title .title1,
    #restaurant .title .title2 {
        font-size: 1.25rem;
    }
}

/* menu */
@media (max-width: 1610px) {
    #menu {
        height: 620px;
    }
}

@media (max-width: 1500px) {
    #menu {
        height: 580px;
    }
}

@media (max-width: 1370px) {
    #menu {
        height: 520px;
    }
}

@media (max-width: 1270px) {
    #menu {
        height: 470px;
    }
}

@media (max-width: 1120px) {
    #menu {
        height: 420px;
    }
}

@media (max-width: 990px) {
    #menu {
        height: 360px;
    }
}

@media (max-width: 910px) {
    #menu {
        height: 320px;
    }
}

@media (max-width: 820px) {
    #menu {
        height: 280px;
    }
}

@media (max-width: 730px) {
    #menu {
        height: 250px;
    }
}

@media (max-width: 550px) {
    #menu {
        height: 215px;
    }
}

@media (max-width: 530px) {
    #menu {
        height: 160px;
    }
}

@media (max-width: 430px) {
    #menu {
        height: 110px;
    }
}

@media (max-width: 350px) {
    #menu {
        height: 80px;
    }
}

/* yougube */

@media (max-width: 950px) {

    #youtube .title .title1,
    #youtube .title .title2 {
        font-size: 4rem;
    }
}

@media (max-width: 590px) {

    #youtube .title .title1,
    #youtube .title .title2 {
        font-size: 3rem;
    }
}

@media (max-width: 490px) {
    #youtube .title {
        gap: 10px;
    }

    #youtube .title .title1,
    #youtube .title .title2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 390px) {
    #youtube .title {
        gap: 5px;
    }

    #youtube .title .title1,
    #youtube .title .title2 {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    #youtube .title {
        gap: 5px;
    }

    #youtube .title .title1,
    #youtube .title .title2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 252px) {
    #youtube .title {
        gap: 5px;
    }

    #youtube .title .title1,
    #youtube .title .title2 {
        font-size: 1.25rem;
    }
}

/* youtube phoneLogo */
@media (max-width: 1610px) {
    .youtubeWpp {
        height: 500px;
    }
    .youtubeWpp .phoneLogo {
        display: flex;
        transform: scale(0.8);
    }
}

@media (max-width: 1470px) {
    .youtubeWpp {
        height: 440px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.7);
    }
}

@media (max-width: 1130px) {
    .youtubeWpp {
        height: 360px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.6);
    }
}

@media (max-width: 960px) {
    .youtubeWpp {
        height: 280px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.5);
    }
}

@media (max-width: 810px) {
    .youtubeWpp {
        height: 250px;
        margin-top: -30px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.4);
    }
}

@media (max-width: 650px) {
    .youtubeWpp {
        height: 210px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.35);
    }
}
@media (max-width: 560px) {
    .youtubeWpp {
        height: 190px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.3);
    }
}

@media (max-width: 480px) {
    .youtubeWpp {
        height: 160px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.25);
    }
}

@media (max-width: 410px) {
    .youtubeWpp {
        height: 135px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.2);
    }
}

@media (max-width: 325px) {
    .youtubeWpp {
        height: 120px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.17);
    }
}

@media (max-width: 280px) {
    .youtubeWpp {
        height: 110px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.15);
    }
}

@media (max-width: 240px) {
    .youtubeWpp {
        height: 95px;
    }
    .youtubeWpp .phoneLogo {
        transform: scale(0.12);
    }
}

/* youtube templates */

@media (max-width: 1240px) {
    #youtubeExamples {
        height: auto;
        padding: 40px 0;
    }
    #youtubeExamples img {
        width: 40%;
    }
}

@media (max-width: 540px) {
    #youtubeExamples img {
        width: 80%;
    }
}

/* business */

@media (max-width: 950px) {

    #business .title .title1,
    #business .title .title2 {
        font-size: 4rem;
    }
}

@media (max-width: 690px) {

    #business .title .title1,
    #business .title .title2 {
        font-size: 3rem;
    }
}

@media (max-width: 520px) {
    #business .title {
        gap: 10px;
    }

    #business .title .title1,
    #business .title .title2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 440px) {
    #business .title {
        gap: 5px;
    }

    #business .title .title1,
    #business .title .title2 {
        font-size: 2rem;
    }
}

@media (max-width: 370px) {
    #business .title {
        gap: 5px;
    }

    #business .title .title1,
    #business .title .title2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 285px) {
    #business .title {
        gap: 5px;
    }

    #business .title .title1,
    #business .title .title2 {
        font-size: 1.25rem;
    }
}

@media (max-width: 250px) {
    #business .title .title1,
    #business .title .title2 {
        font-size: 1.2rem;
    }
}
