* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.section {
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100vw;
}

.helloPg,
.experiencePg,
.recentPg,
.sectionInt,
.jobsPg {
    background-image: url(../img/background/Fundo\ azul.png);
    justify-content: center;
    color: white;
}

.skills,
.educationPg,
.togetherPg {
    background-image: url(../img/background/Fundo\ bege.png);
    justify-content: center;
    color: #144469;
    overflow: hidden;
}

/* first page */
.firstPg,
.helloPg,
.experiencePg,
.skills {
    display: flex;
    align-items: center;
}

.firstPg {
    background-image: url(../img/background/Fundo\ bege.png);
}

.firstPg .hand {
    z-index: 1;
    height: 95vh;
}

.firstPg .txtFirstPg .title,
.firstPg .signature {
    margin-left: 50px;
}

.firstPg .txtFirstPg h1 {
    font-size: 11rem;
    color: #dc7538;
    margin-bottom: -30px;

}

.firstPg .txtFirstPg h2 {
    font-size: 7rem;
    color: #144469;
}

.firstPg .txtFirstPg .line {
    width: 550px;
    height: 7px;
    margin-left: -40px;
    background-color: #dc7538;
    margin-bottom: 30px;
}

/* Second Part */
.helloPg .container {
    /* padding: 0 230px; */
    display: flex;
    align-items: center;
    height: 100vh;

}

.helloPg .photoContainer {
    flex: 1;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: end;
}

.helloPg .photoContainer .photo {
    height: 80vh;
}

.helloPg .txtSecondPg {
    flex: 1;
    width: 40vw;
}

.helloPg .txtSecondPg .quotes {
    opacity: 15%;
}

.helloPg .txtSecondPg .hello {
    margin-top: -50px;
    font-size: 3rem;
    font-weight: 800;
}

.helloPg .txtSecondPg .secondLine {
    display: flex;
    gap: 5px;
}

.helloPg .txtSecondPg .secondLine h2 {
    font-size: 2rem;
}

.helloPg .txtSecondPg .secondLine h2:last-child {
    color: #dc7538;
    font-weight: 600;
}

.helloPg .txtSecondPg p {
    margin-top: 20px;
    font-size: 1.5rem;
}

/* third page */
.educationPg {
    position: relative;
}

.educationPg .background {
    position: absolute;
}

.educationPg .text {
    padding: 120px 100px;
    height: calc(100% - 240px);
    /* display: flex; */

}

.educationPg .text .title {
    font-size: 5rem;
}

.educationPg .text .lineEducation {
    height: 100%;
    display: flex;
    gap: 100px;
    position: relative;
}

.educationPg .text .lineEducation .line {
    position: absolute;
    width: 800px;
    height: 8px;
    background-color: #dc7538;
    top: 187px;
    left: 42px;
}

.educationPg .text .lineEducation .educationInt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.educationPg .text .lineEducation .educationInt .year {
    margin-top: 130px;
}

.educationPg .text .lineEducation .educationInt .circle {
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: #144469;
    border-radius: 100%;
}

.educationPg .stair {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 540px;
}

/* fourth page */

.experiencePg .photoContainer {
    height: 100vh;
    width: 50%;
    position: relative;
    overflow: hidden;

}

.experiencePg .photoContainer .baloon {
    height: 900px;
    margin-right: 150px;
    margin-top: -50px;
    z-index: 1000;
}

.experiencePg .txtExperiencePg {
    width: 50%;
    margin-left: 80px;
}

.experiencePg .txtExperiencePg .title {
    font-size: 5rem;
    color: #dc7538;
    margin-bottom: 80px;
}

.experiencePg .txtExperiencePg .experiences {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.experiencePg .txtExperiencePg .experiences>* {
    display: flex;
    align-items: center;
}

.experiencePg .txtExperiencePg .experiences .text>h3:first-of-type {
    margin: 5px 0;
}

.experiencePg .txtExperiencePg .experiences h2 {
    color: #dc7538;
    font-weight: 100;
}

.experiencePg .txtExperiencePg .experiences h3 {
    font-weight: 100;
}

.experiencePg .txtExperiencePg .experiences .circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    margin-right: 30px;
}

/* fifth page */

.skills {
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.skills .arrow {
    position: absolute;
    top: -50px;
    width: 500px;
    margin-right: 200px;
}

.skills .photoContainer {
    height: 100vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills .txtSkillsPg {
    flex: 1;
    padding: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.skills .txtSkillsPg .title {
    font-size: 5rem;
    color: #dc7538;
    margin-bottom: 80px;
}

.skills .txtSkillsPg .skill {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 110px;
}

.skills .txtSkillsPg .skill .circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #144469;
}

.skills .txtSkillsPg .skill h3 {
    color: #144469;
    font-weight: 400;
}


/* sixth part */
.recentPg {
    display: flex;
}

.recentPg .call {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recentPg .call .lines {
    display: flex;
    gap: 20px;
    flex: 2;
}

.recentPg .call .text {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: -20px;
}

.recentPg .call .lines .line {
    width: 20px;
    height: 100%;
}

.recentPg .call .lines .line1 {
    background-color: #dc7538;
}

.recentPg .call .lines .line2 {
    background-color: white;
}

.recentPg .examples {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recentPg .examples .example {
    width: 350px;
    height: 600px;
    border-radius: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recentPg .examples:last-child {
    margin-right: 200px;
}

.recentPg .examples .example .img1 {
    height: 100%;
}

.recentPg .examples .example .img2 {
    height: 100%;
}

/* seventh page */
.jobsPg {
    display: flex;
}

.jobsPg .projects {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jobsPg .projects .projectsInt {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 50px 100px;
    flex-wrap: wrap;
    width: 80%;
}

.jobsPg .projects .project {
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.jobsPg .projects .project .img {
    width: 100%;
    height: 90%;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jobsPg .projects .project .img img {
    height: 100%;
    transition: ease-in-out 0.3s;
}

.jobsPg .projects .project:hover .img img {
    height: 110%;
}

.jobsPg .call {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.jobsPg .call .lines {
    display: flex;
    gap: 20px;
    flex: 2;
}

.jobsPg .call .lines:first-of-type {
    display: flex;
    align-items: end;
    margin-right: 70px;
    margin-top: 90px;
}

.jobsPg .call .lines img {
    width: 250px;
    height: 250px;
}

.jobsPg .call .text {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: -20px;
    color: white;
}

.jobsPg .call .lines .line {
    width: 20px;
    height: 100%;
}

.jobsPg .call .lines .line1 {
    background-color: #dc7538;
}

.jobsPg .call .lines .line2 {
    background-color: white;
}

/* last Part */
.togetherPg {
    display: flex;
    flex-direction: row-reverse;
}

.togetherPg .text,
.togetherPg .containerImg {
    width: 50%;
    height: 100vh;
}

.togetherPg .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.togetherPg .text .title {
    font-size: 3rem;
}

.togetherPg .text .contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.togetherPg .text .contacts .contact {
    color: #144469;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.togetherPg .text .contacts .contact .icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #dc7538;
    display: flex;
    align-items: center;
    justify-content: center;
}

.togetherPg .text .contacts .contact .icon img {
    width: 30px;
}

.togetherPg .text .title .together {
    color: #dc7538;
}

.togetherPg .containerImg {
    display: flex;
    justify-content: center;
    align-items: end;
}

.togetherPg .containerImg img {
    height: 95%;
}


/* jobs delivered interns */

.containerInt .sectionInt {
    display: flex;
}

.containerInt .sectionInt .projects {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex: 2;
    gap: 50px;
}

.containerInt .sectionInt .projects .firstLine,
.containerInt .sectionInt .projects .secondLine,
.containerInt .sectionInt .projects .thirdLine {
    display: flex;
    gap: 50px;
}

.containerInt .sectionInt .projects .secondLine:first-child {
    margin-left: 40px;
}

.containerInt .sectionInt .projects .project {
    width: 180px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #144469;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.containerInt .sectionInt .projects .project .img {
    width: 100%;
    height: 90%;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out 0.3s;

}

.containerInt .sectionInt .projects .project .img img {
    height: 100%;
    background-color: white;
}


.containerInt .sectionInt .call {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerInt .sectionInt .call .lines {
    display: flex;
    gap: 20px;
    flex: 2;
}

.containerInt .sectionInt .call .lines:first-of-type {
    display: flex;
    align-items: end;
    margin-right: 70px;
    margin-top: 90px;
}

.containerInt .sectionInt .call .lines img {
    width: 250px;
    height: 250px;
}

.containerInt .sectionInt .projects .project:hover .img {
    height: 130%;
}

.containerInt .sectionInt .call .text {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    gap: -20px;
    color: white;
}

.containerInt .sectionInt .call .lines .line {
    width: 20px;
    height: 100%;
}

.containerInt .sectionInt .call .lines .line1 {
    background-color: #dc7538;
}

.containerInt .sectionInt .call .lines .line2 {
    background-color: white;
}

.containerInt .home {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #dc7538;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInt .home img {
    width: 50%;
    filter: invert(100%);
}

.containerInt .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.overlay.show {
    display: flex;
    opacity: 1;
    transition: 0.3s ease;
}

.overlay .popup {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    max-height: 80vh;
    transition: 0.3s ease;
}

.overlay .show {
    display: flex;
}

.overlay .popup img {
    height: 80vh;
}

.overlay.show .popup {
    transform: scale(1);
}

.overlay .popup .close {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 24px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #dc7538;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 100%;
}

.overlay .popup .close::after,
.overlay .popup .close::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 30px;
    background-color: white;
    rotate: 45deg;
}

.overlay .popup .close::before {
    rotate: -45deg;
}

/* social media */
.containerInt .sectionInt .projects .project .img .lastphoto {
    height: 120%;
}

/* Photo editing */
.containerInt .photoEditing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerInt .sectionInt .photoA {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerInt .sectionInt .photoB {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerInt .sectionInt .lines {
    display: flex;
    gap: 20px;
    height: 100vh;
}

.containerInt .sectionInt .photoB .lines {
    align-items: flex-end;
}

.containerInt .sectionInt .lines .line {
    width: 20px;
    height: 60%;
}

.containerInt .sectionInt .lines .line1 {
    background-color: #dc7538;
}

.containerInt .sectionInt .lines .line2 {
    background-color: white;
}

.containerInt .sectionInt .photoA .photo {
    width: 350px;
    height: 200px;
    border-radius: 150px;
    overflow: hidden;
    position: absolute;
    transform: translateY(50%);
}

.containerInt .sectionInt .photoA .photo img {
    width: 100%;
}

.containerInt .sectionInt .photoB .photo {
    height: 350px;
    width: 200px;
    border-radius: 150px;
    overflow: hidden;
    position: absolute;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerInt .sectionInt .photoB .photo img {
    height: 100%;
}

@media screen and (max-width: 1510px) {
    /* third part */
    .educationPg .stair {
        right: -40px;
    }
}
@media screen and (max-width: 1430px) {
    /* third part */
    .educationPg .stair {
        right: 30px;
    }
    .educationPg .text .lineEducation {
        flex-direction: column;
        justify-content: center;
    }
    .educationPg .text .lineEducation .educationInt {
        flex-direction: row;
    }
    .educationPg .text .lineEducation .educationInt .year {
        margin-top: 0;
    }
    .educationPg .text .lineEducation .line {
        width: 8px;
        left: 78px;
        top: 25px;
        height: 540px;
    }
}

@media screen and (max-width: 1410px) {

    /* first part */
    .firstPg .hand {
        height: 65vh;
    }
}

@media screen and (max-width:1210px) {

    /* first part */
    .firstPg {
        background-position: center;
    }

    .firstPg .txtFirstPg h1 {
        font-size: 8rem;
    }

    .firstPg .txtFirstPg h2 {
        font-size: 4rem;
    }

    .firstPg .txtFirstPg .line {
        width: 320px;
        margin-left: -9px;
        margin-top: -5px;
    }

    .firstPg .signature {
        width: 300px;
        margin-top: -10px;
    }
}

@media screen and (max-width:1060px) {

    /* second part */
    .helloPg .txtSecondPg {
        margin-left: -120px;
    }

    .helloPg .txtSecondPg .quotes {
        width: 100px;
    }

    .helloPg .txtSecondPg .hello {
        font-size: 2.3rem;
        margin-top: -35px;
    }

    .helloPg .txtSecondPg .secondLine h2 {
        font-size: 1.5rem;
    }

    .helloPg .txtSecondPg p {
        font-size: 1rem;
    }
    /* third part */
    .educationPg .stair {
        right: -150px;
    }
}


@media screen and (max-width:1010px) {

    /* first part */
    .firstPg .txtFirstPg h1 {
        font-size: 6rem;
        margin-bottom: -15px;
    }

    .firstPg .txtFirstPg h2 {
        font-size: 4rem;
    }

    .firstPg .txtFirstPg .line {
        margin-top: 0px;
    }
}

@media screen and (max-width:890px) {

    /* first part */
    .firstPg .hand {
        height: 50vh;
    }

    .firstPg .txtFirstPg h1 {
        font-size: 4rem;
        margin-bottom: -15px;
    }

    .firstPg .txtFirstPg h2 {
        font-size: 3rem;
    }

    .firstPg .txtFirstPg .line {
        margin-top: 0px;
        margin-left: -1px;
        height: 5px;
        width: 248px;
    }

    .firstPg .signature {
        width: 240px;
        margin-top: -24px;
    }

    /* third part */
    .educationPg .stair {
        right: -250px;
    }
}

@media screen and (max-width:770px) {
    .helloPg {
        overflow: hidden;
    }

    .helloPg .container {
        flex-direction: column-reverse;
    }

    .helloPg .photoContainer .photo {
        height: 60vh;
    }

    .helloPg .txtSecondPg {
        margin-left: 0;
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* third part */
    .educationPg .stair {
        opacity: 0.2;
    }
    .educationPg .text {
        z-index: 1000;
        position: relative;
    }
}


@media screen and (max-width:640px) {

    /* first part */
    .firstPg {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .firstPg .txtFirstPg h1 {
        font-size: 7rem;
    }

    .firstPg .txtFirstPg h2 {
        font-size: 4rem;
    }

    .firstPg .txtFirstPg .line {
        margin-left: 0px;
        width: 315px;
    }

    .firstPg .signature {
        width: 340px;
        margin-top: -20px;
    }

    /* second part */
    .helloPg {
        background-position: center;
    }
    .helloPg .photoContainer.photo {
        margin-bottom: -90px;
    }

    .helloPg .txtSecondPg {
        z-index: 1;
    }
}
@media screen and (max-width:560px) {
    .educationPg .text {
        padding: 120px 20px;
    }
}

@media screen and (max-width:520px) {
    .helloPg .photoContainer {
        height: 50vh;
    }
    .helloPg .photoContainer .photo {
        height: 50vh;
    }

}
@media screen and (max-width:510px) {

    /* first part */
    .firstPg .txtFirstPg h1 {
        font-size: 5rem;
    }

    .firstPg .txtFirstPg h2 {
        font-size: 3rem;
    }

    .firstPg .txtFirstPg .line {
        width: 247px;
    }

    .firstPg .signature {
        width: 300px;
    }
}
@media screen and (max-width:440px) {
    /* third part */
    .educationPg .text .title {
        font-size: 4rem;
    }
    .educationPg .text .lineEducation {
        margin-top: 20px;
    }
    .educationPg .text .lineEducation .educationInt .educationContainer .educationName {
        margin-bottom: 6px;
    }
    .educationPg .text .lineEducation .line {
        top: 10px;
        height: 580px;
    }
}


@media screen and (max-width:410px) {

    /* first part */
    .firstPg .hand {
        margin-bottom: 20px;
    }

    .firstPg .txtFirstPg h1 {
        font-size: 4rem;
        margin-bottom: -5px;
    }

    .firstPg .txtFirstPg h2 {
        font-size: 2.5rem;
    }

    .firstPg .txtFirstPg .line {
        width: 215px;
    }

    .firstPg .signature {
        width: 250px;
        margin-top: -20px;
    }
}
@media screen and (max-width:390px) {
    /* second part */
    .helloPg {
        background-position: center;
    }
    .helloPg .txtSecondPg .quotes {
        width: 80px;
    }
    .helloPg .txtSecondPg .hello {
        font-size: 2rem;
    }
    .helloPg .txtSecondPg .secondLine h2 {
        font-size: 1.3rem;
    }
    .helloPg .txtSecondPg p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 360px) {
    /* third part */
    .educationPg .text .title {
        font-size: 3rem;
    }
    .educationPg .text .lineEducation .educationInt .educationContainer .educationName {
        font-size: 0.9rem;
    }
}
@media screen and (max-width:330px) {

    /* first part */
    .firstPg .hand {
        width: 80vw;
        height: auto;
    }

    .firstPg .txtFirstPg h1 {
        font-size: 3rem;
    }

    .firstPg .txtFirstPg h2 {
        font-size: 2rem;
    }

    .firstPg .txtFirstPg .line {
        width: 182px;
        height: 4px;
    }

    .firstPg .signature {
        width: 190px;
    }
}

.firstPg,
.helloPg,
.educationPg,
.skills,
.jobsPg,
.togetherPg {
    display: none;
}